      <header id="nav" class="header header-1 no-transparent mobile-no-transparent">
        <div class="header-wrapper">
          <div class="container-m-30 clearfix">
            <div class="logo-row">
              <!-- LOGO -->
              <div class="logo-container-2">
                <div class="logo-2">
                  <a href="index.html" class="clearfix">
                      <img src="<%= image_url('esalc-colmex.png') %>" class="logo-img" alt="Logo">
                    </a>
                </div>
              </div>
              <!-- BUTTON -->
              <div class="menu-btn-respons-container">
                <button type="button" class="navbar-toggle btn-navbar collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse">
  								<span aria-hidden="true" class="icon_menu hamb-mob-icon"></span>
  							</button>
              </div>
            </div>
          </div>
          <!-- MAIN MENU CONTAINER -->
          <div class="main-menu-container">
            <div class="container-m-30 clearfix">
              <!-- MAIN MENU -->
              <div id="main-menu">
                <div class="navbar navbar-default" role="navigation">
                  <!-- MAIN MENU LIST -->
                  <nav class="collapse collapsing navbar-collapse right-1024">
                    <ul class="nav navbar-nav bold a-text-cont">
                      <!-- MENU ITEM -->
                      <li class="current">
                        <a href="index.html">
                          <div class="main-menu-title">Inicio</div>
                        </a>
                      </li>
                      <!-- MENU ITEM -->
                      <li>
                        <a href="directorio.html">
                          <div class="main-menu-title">Directorio</div>
                        </a>
                      </li>
                      <!-- MENU ITEM -->
                      <li class="parent">
                        <a href="#">
                          <div class="main-menu-title">Publicaciones</div>
                        </a>
                        <ul class="sub">
                          <li>
                            <a href="libros.html">Libros</a>
                          </li>
                          <li>
                            <a href="articulos.html">Artículos</a>
                          </li>
                          <li>
                            <a href="tesis.html">Tesis</a>
                          </li>
                        </ul>
                      </li>
                      <!-- MENU ITEM -->
                      <li>
                        <a href="seminarios.html">
                          <div class="main-menu-title">Seminarios</div>
                        </a>
                      </li>
                      <!-- MENU ITEM -->
                      <li>
                        <a href="eventos.html">
                          <div class="main-menu-title">Eventos</div>
                        </a>
                      </li>
                      <!-- MENU ITEM -->
                      <li>
                        <a href="videoteca.html">
                          <div class="main-menu-title">Videoteca</div>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
              <!-- END main-menu -->
            </div>
            <!-- END container-m-30 -->
          </div>
          <!-- END main-menu-container -->
        </div>
        <!-- END header-wrapper -->
      </header>
