<div class="col-lg-2 col-md-3 hidden-xs hidden-sm">
            <div id="sidebar-stiky" class="bs-sidebar clearfix" role="complementary">
              <div class="heading-underline h4-line" style="padding-top: 24px;">
                <h4 class="mt-0">TEMAS DE <br>INVESTIGACIÓN</h4>
              </div>
              <ul id="nav-sidebar" class="nav bs-sidenav blog-categories links-list bold a-text-cont">
                <li><a href="<%= historia_path %>">Historia</a></li>
                <li><a href="lengua-y-literatura.html">Lengua y Literatura</a></li>
                <li><a href="politica-partidos-instituciones.html">Política, partidos e <br>instituciones</a></li>
                <li><a href="relaciones-internacionales.html">Relaciones <br>internacionales</a></li>
                <li><a href="sociedad-economia.html">Sociedad y Economía</a></li>
                <li><a href="violencia-derechos-humanos.html">Violencia y <br>Derechos Humanos</a></li>
              </ul>
            </div>
          </div>
