<%= render 'principal/header' %>

      <!-- CONTENT CONTAINER -->
      <div id="cont-text" class="container page-section pt-140-b-80-cont pl-50-min-1169 pr-50-min-1169" style="min-height:763px;">
        <div class="row">
          <!-- SIDENAV HIDE -->
          <%= render 'principal/sidebar' %>
          <!-- COTENT  -->
          <!-- INTRODUCCIÓN  -->
          <div class="col-lg-9 col-md-8 col-sm-12 plr-50">

            <!-- PUBLICACIONES RECIENTES -->
            <div class="page-section pt-40">
              <div class="mb-30">
                <h2 class="section-title pr-0 "><span class="bold ">CONTACTO</span></h2>
              </div>
              <div class="row mb-20">
                <div class="col-md-10 col-sm-12 col-md-offset-1">
                  <p>Carretara Picacho Ajusco 20, Col. Ampliación Fuentes del Pedregal, C.P. 14110 Tlalpan, Ciudad de México</p>
                  <h4>Correo electrónico</h4>
                  <p><i class="icon icon-basic-mail-open-text mr-20"></i><a href="mailto:esalc@colmex.mx">esalc@colmex.mx</a></p>
                  <h4>Redes sociales</h4>
                  <div class="footer-2-soc-a">
                    <a href="https://www.facebook.com/elcolmex/" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/ELCOLMEX" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.youtube.com/c/elcolegiodemexicociudaddemexico" title="YouTube" target="_blank"><i class="fa fa-youtube-play"></i></a>
                    <a href="https://itunes.apple.com/mx/institution/el-colegio-de-mexico/id443160573" title="iTunesU" target="_blank"><i class="fa fa-apple"></i></a>
                    <a href="https://www.linkedin.com/edu/el-colegio-de-m%C3%A9xico-14986" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
                    <a href="https://plus.google.com/+ElColegiodeM%C3%A9xico081040" title="Google+" target="_blank"><i class="fa  fa-google-plus"></i></a>
                    <a href="https://www.instagram.com/elcolmex/" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="https://soundcloud.com/elcolmex/" title="SoundCloud" target="_blank"><i class="fa fa-soundcloud"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

    <div class="col-md-3 visible-md"></div>
          <!-- FIN ROW -->
        </div>
        <!-- FIN CONTENT CONTAINER -->
      </div>
<%= render 'principal/footer' %>
  <script>
		$(window).on("resize",function(){
			if($(document).width() < 1656)
				$("#cont-text").css("padding-top","0");
			else
				$("#cont-text").css("padding-top","");
		});
  </script>
