<%= render 'principal/header' %>
      <!-- CONTENT CONTAINER -->
      <div id="cont-text" class="container page-section pt-140-b-80-cont pl-50-min-1169 pr-50-min-1169" style="min-height:763px;">
        <div class="row">
          <!-- SIDENAV HIDE -->
          <%= render 'principal/sidebar' %>

          <!-- INTRODUCCIÓN  -->
          <div class="col-lg-9 col-md-8 col-sm-12 plr-50">

            <!-- PUBLICACIONES RECIENTES -->
            <div class="page-section pt-40">
              <div class="mb-30">
                <h2 class="section-title pr-0 "><span class="bold ">EQUIPO</span></h2>
              </div>
              <div class="row m-bot-40">
                <div class="col-md-6">
                  <div class="heading-line h2-line">
                    <h2>Coordinación del proyecto</h2></div>
                  <h4><a href="https://cei.colmex.mx/Pprofesores/E_Brun.html" target="_blank" class="a-inv">Élodie Brun</a></h4>
                  <h5 class="mb-30">Profesora-Investigadora del Centro de Estudios Internacionales</h5>
                  <h4><a href="https://carlosmarichal.colmex.mx/" target="_blank" class="a-inv">Carlos Marichal</a></h4>
                  <h5 class="mb-30">Profesor-Investigador del Centro de Estudios Históricos</h5>
                  <h4><a href="https://cei.colmex.mx/Pprofesores/JC_Olmeda.html" target="_blank" class="a-inv">Juan Cruz Olmeda</a></h4>
                  <h5 class="mb-30">Profesor-Investigador del Centro de Estudios Internacionales</h5>
                </div>
                <div class="col-md-6">
                  <div class="heading-line h2-line">
                    <h2>Desarrollo de la plataforma</h2></div>
                  <h4 class="a-inv">Tania Ochoa</h4>
                  <h5 class="mb-30">Jefatura de Diseño Digital -  COED</h5>
                  <h4 class="a-inv">Erik Tenorio</h4>
                  <h5 class="mb-30">Desarrolador de sistemas -  COED</h5>
                  <h4 class="a-inv">Jorge Ortíz</h4>
                  <h5 class="mb-30">Recopilador</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 visible-md"></div>
    <!-- FIN ROW -->
  </div>
  <!-- FIN CONTENT CONTAINER -->
  </div>

<%= render 'principal/footer' %>
  <script>
		$(window).on("resize",function(){
			if($(document).width() < 1656)
				$("#cont-text").css("padding-top","0");
			else
				$("#cont-text").css("padding-top","");
		});
  </script>
