<h2>Hola mundo</h2>
<script>
$.ajax({
	url: "http://repositorio.colmex.mx/catalog.json?q=america+latina",
	dataType: "json",
	method: "GET",
	async: true,
	success: function(data){
		console.log(data);
	},
	error: function(result,error){
		console.log(result);
	}
});
</script>
