<%= render 'principal/header' %>

      <!-- CONTENT CONTAINER -->
      <div class="container page-section pt-140-b-80-cont pl-50-min-1169 pr-50-min-1169">
        <div class="row">
          <!-- SIDENAV HIDE -->
          <%= render 'principal/sidebar' %>

          <!-- INTRODUCCIÓN  -->
          <div class="col-lg-9 col-md-8 col-sm-12 plr-50">

            <!-- PUBLICACIONES RECIENTES -->
            <div class="page-section pt-40">
              <div class="mb-50 ">
                <h2 class="section-title pr-0 "><span class="bold ">VIDEOS </span>RECIENTES</h2>
              </div>
              <div id="new-vids" class="row">

              </div>
            </div>

            <h2 class="section-title pr-0 mb-20"><span class="bold ">VIDEOTECA</span></h2>
            <div class="row">
              <div class="col-md-10 col-sm-12 col-md-offset-1">
                <p class="text-left">Aquí podrás encontrar información sobre los videos publicados de El Colegio de México sobre temas relacionados con América Latina.</p>
              </div>
            </div>
            <!-- FORMULARIO DE BÚSQUEDA -->
            <div class="row">
              <div class="col-md-12 mt-40 plr-xs-0 plr-50 ">
                <!-- FORMULARIO DE BÚSQUEDA -->
                <div class="row">
<script>
function filter(f_ids){
	var where = "", multi = false, val;
	for(var i=0;i<f_ids.length;i++){
		val = $("#"+f_ids[i]).val();
		where = where + (val != "" ? "&conds["+f_ids[i]+"]="+ val : "");
	}
	$.ajax({
		url: "/videoteca.js?offset=0" + where,
		success: function(){}
	});
}

function clean(){
	$("#autor").val("");
	$("#tema").val(null);
	//$("#pais").val(null);
	$("#fecha").val(null);
	$.ajax({
		url: "/videoteca.js?offset=0",
		success: function(){}
	});
}
</script>

                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 plr-0">
                        <h4 class="mt-10"><strong>Buscar por: </strong></h4>
                      </div>
                      <div class="col-lg-6 col-md-12 pl-0">
                        <input id="autor" placeholder="Palabra clave" class="input-border w-100" type="text" oninput="filter(['autor','pais','fecha','tema'])">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 plr-0">
                        <h4 class="mt-10"><strong>Filtrar por: </strong></h4>
                      </div>
                      <div class="col-lg-6 col-md-12 col-sm-12 pl-0 mb-15">

                          <select name="tema" id="tema" class="select-md input-border w-100" onchange="filter(['autor','pais','fecha','tema'])">
                            <option value>Tema</option>
                            <option value="historia">Historia</option>
		                        <option value="lengua">Lengua y Literatura</option>
		                        <option value="pol_tic">Política, Partidos e Instituciones</option>
		                        <option value="internacionales">Relaciones internacionales</option>
		                        <option value="economi">Sociedad y Economía</option>
		                        <option value="violencia">Violencia y Derechos Humanos</option>
                          </select>

                      </div>
<% if false %>
                      <div class="col-lg-4 col-md-12 col-sm-12 pl-0 mb-15">

                          <select name="pais" id="pais" class="select-md input-border w-100" onchange="filter(['autor','pais','fecha','tema'])">
                            <option value>País</option>
                            <option value="anguila">Anguila (Gb)</option>
                            <option value="antiguaybarbuda">Antigua y Barbuda</option>
                            <option value="antillasholandesas">Antillas Holandesas</option>
                            <option value="argentina">Argentina</option>
                            <option value="bahamas">Bahamas</option>
                            <option value="barbados">Barbados</option>
                            <option value="belice">Belice</option>
                            <option value="bermudas">Bermudas</option>
                            <option value="bolivia">Bolivia</option>
                            <option value="brasil">Brasil</option>
                            <option value="chile">Chile</option>
                            <option value="colombia">Colombia</option>
                            <option value="costarica">Costa Rica</option>
                            <option value="cuba">Cuba</option>
                            <option value="dominica">Dominica</option>
                            <option value="ecuador">Ecuador</option>
                            <option value="elsalvador">El Salvador</option>
                            <option value="granada">Granada</option>
                            <option value="guadalupe">Guadalupe</option>
                            <option value="guatemala">Guatemala</option>
                            <option value="guyana">Guyana</option>
                            <option value="guayanafrancesa">Guayana Francesa</option>
                            <option value="haiti">Haití</option>
                            <option value="honduras">Honduras</option>
                            <option value="islascaiman">Islas Caimán</option>
                            <option value="islasmalvinas">Islas Malvinas</option>
                            <option value="islasturcasycaicos">Islas Turcas y Caicos</option>
                            <option value="islasvirgenes">Islas Vírgenes</option>
                            <option value="islasvirgenesbritanicas">Islas Vírgenes Británicas</option>
                            <option value="jamaica">Jamaica</option>
                            <option value="martinica">Martinica</option>
                            <option value="mexico">México</option>
                            <option value="montserrat">Montserrat</option>
                            <option value="nicaragua">Nicaragua</option>
                            <option value="panama">Panamá</option>
                            <option value="paraguas">Paraguas</option>
                            <option value="peru">Perú</option>
                            <option value="puertorico">Puerto Rico</option>
                            <option value="republicadominicana">República Dominicana</option>
                            <option value="saintkittsnevis">Saint Kitts & Nevis</option>
                            <option value="sanvicenteylasgranadinas">San Vicente y Las Granadinas</option>
                            <option value="santalucia">Santa Lucía</option>
                            <option value="suriname">Suriname</option>
                            <option value="trinidadtobago">Trinidad y Tobago</option>
                            <option value="uruguay">Uruguay</option>
                            <option value="venezuela">Venezuela</option>
                          </select>

                      </div>
<% end %>

                      <div class="col-lg-6 col-md-12 col-sm-12 pl-0 mb-15">

                          <select name="fecha" id="fecha" class="select-md input-border w-100" onchange="filter(['autor','pais','fecha','tema'])">
                            <option value>Año</option>
                            <option value="2018">2018</option>
                            <option value="2017">2017</option>
                            <option value="2016">2016</option>
                            <option value="2015">2015</option>
                            <option value="2014">2014</option>
                            <option value="2013">2013</option>
                            <option value="2012">2012</option>
                            <option value="2011">2011</option>
                            <option value="2010">2010</option>
                          </select>

                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 plr-0">
                    <br class="visible-sm visible-xs">
                    <button class="button medium hover-thin deeporange w-100-767" onclick="clean()">LIMPIAR BÚSQUEDA</button>
                  </div>
                </div>
                <!-- FIN FORMULARIO DE BÚSQUEDA -->
                <div class="row mt-30 mb-40">
                  <div class="col-md-8 col-xs-12 text-left">
                    <h3 class="verde-obscuro m-0"><strong>Se muestran los resultados de las búquedas</strong></h3>
                  </div>
                  <div class="col-md-4 hidden-sm hidden-xs text-right">
                    <h3 class="verde-obscuro m-0" id="count_p"><strong>Total: 000</strong></h3>
                  </div>
                  <div class="hidden-lg hidden-md col-sm-12 col-xs-12 text-left">
                    <h3 class="verde-obscuro" id="count_pr"><strong>Total: 000</strong></h3>
                  </div>
                </div>
                <!-- TOGGLES  -->
                <div id="toggles" class="bs-docs-section mb-50">
                  <div class="row mb-30">
                    <div class="col-md-12">
                      <!-- Toggle -->
                      <dl id="toggle" class="toggle">

                      </dl>
                      <!-- End Toggle -->
                    </div>
                  </div>
                </div>
                <div class="row mb-30">
                  <div class="col-md-12 text-center">
                    <nav class="blog-pag">
                      <ul id="pags" class="pagination">
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 visible-md"></div>
          <!-- FIN ROW -->
        </div>
        <!-- FIN CONTENT CONTAINER -->
      </div>

<script>
$(document).ready(function(){
	$.ajax({
		url: "https://coed.colmex.mx/catalogo_videos.json?crono=desc&vpp=3&tags=Latinoamerica",
		success: function(result){
			var html_new_vids = "";
			for(var i = 0; i < result["vids"].length; i++){
				html_new_vids = html_new_vids + '<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 wow fadeInUp pb-70">' +
                  '<div class="row">' +
                    '<div class="col-lg-10 col-lg-offset-1 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">' +
                      '<div class="cajavideo mb-30">' +
                        '<div class="embed-container">' + 
                          '<iframe src="https://www.youtube.com/embed/' + result["vids"][i]["v_id"] + '" allowfullscreen></iframe>' +
                        '</div>' +
                      '</div>' +
                    '</div>' +
                  '</div>' +
                  '<div class="shop-price-cont ">' +
                    '<a class="font-norm a-inv " href="https://www.youtube.com/watch?v=' + result["vids"][i]["v_id"] + '" target="_blank"><strong>' + result["vids"][i]["titulo"] + '</strong></a>' +
                  '</div>' +
                  '<div class="post-prev-title mb-20">' +
                    //'<h3 class="font-norm a-inv">Miguel Basáñez; José Romero; Gerardo Esquivel; Leonardo Curzio</h3>'
                  '</div>' +
                  '<div class="post-prev-more-cont clearfix ">' +
                    '<div style="margin:0 auto;width: -webkit-calc(100% - 65px); width: -moz-calc(100% - 65px); width: calc(100% - 65px);" class="shop-add-btn-cont ">' +
                      '<a class="button medium gray-light shop-add-btn" href="https://www.youtube.com/watch?v=' + result["vids"][i]["v_id"] +'" target="_blank">CONSULTAR</a>' +
                    '</div>' +
                  '</div>' +
                '</div>';
			}
			$("#new-vids").html(html_new_vids);
		}
	});
	fill_videoteca();
});
</script>

<%= render 'principal/footer' %>
